/* Variables */
$font-stack: 'Roboto', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
$primary-color: #000;
$secondary-color: #fff;

$hovered-color: rgb(0, 0, 0);
$hovered-background-color: rgb(76, 175, 80);

/* Unselectable field */
@mixin unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hoverable */
@mixin hoverable {
    cursor: pointer;
    color: $hovered-color !important;
    background-color: $hovered-background-color !important;
}

.unselectable {
    @include unselectable;
}
.hoverable {
    @include hoverable;
}
